{
    "host": "0.0.0.0",
    "port": 8000,
    "mysql": {
        "host": "localhost",
        "port": 3306,
        "user": "root",
        "password": "root",
        "connectTimeout": 30000
    }
}